input{
    width: 200px;
    height: 35px;
    font-size: 15px;
    margin: 0px 10px 10px 10px;
    background-color: #d3d3d3;
    border: 1px solid black;
}
.mt{
    margin-top: 20px;
}
.tc{
    text-align: center;
}
.main{
    width: 500px;
    /* height: 600px; */
    background-color: #808080;
    border-radius: 10px;
    border: 1px solid black;
    padding-bottom: 10px;
}